html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-left: 20px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

p, li, pre, code {
    margin-bottom: 15px;
}

a {
    color: green;
    /* text-decoration: none; */
}

a:hover {
    text-decoration: underline;
}

pre {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
    background-color: #eaeaea;
    padding: 2px 5px;
    border-radius: 3px;
}

ul, ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

hr {
    margin-top: 30px;
    border: none;
    height: 1px;
    background-color: #ccc;
}

footer {
    text-align: center;
    margin: 2%;
}

#sidebar {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    background-color: #575757;
}

#content {
    margin-left: 220px;
    /* padding: 20px; */
}

.section {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }

    #sidebar {
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: none;
        display: none;
    }

    #sidebar a {
        display: inline-block;
        padding: 10px 5px;
        font-size: 14px;
        width: 48%;
        text-align: center;
    }

    #content {
        margin-left: 0;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, li {
        font-size: 1rem;
    }

    pre {
        font-size: 0.9rem;
    }
}
